/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*style-guide value*/

:root {
    /*COLORS - PRIMARY*/
    --clr-bg: hsl(185, 75%, 39%);
    --clr-title-text: hsl(229, 23%, 23%);
    --clr-paragraph: hsl(227, 10%, 46%);
    /*COLORS - NEUTRAL*/
    --clr-main-bg: hsl(0, 0%, 95%);
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 18px;
    --ff-primary:'Kumbh Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    /*BORDERS*/
    --border-radius: 1rem;
}


body {
    /* Body fit 100% of the html*/
    min-height: 100vh;
    margin: 0;

    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);

    background-color: var(--clr-bg);

    background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -60% 280%, 156% -242%;

    /* Center div in body*/
    display:flex;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 380px) {

    body {
    background-position: 134% 280%, -18% -242%;

    }
}



/*Apply typographic values to text*/

h1,p,span {
    margin: 0;
}

h1 {
    font-family: var(--ff-primary);
    color: var(--clr-title-text);
    font-weight: var(--fw-700);
    font-size: inherit;
}

p{
    font-family: var(--ff-primary);
    color: var(--clr-paragraph);
    font-weight: var(--fw-400);
    font-size: 0.9rem;
}

main {
    width: 350px;
    height: 375px;
    position: absolute;
}
#card
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-white);
    border-radius: var(--border-radius);
}

.card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 285px;
    border-bottom: 0.05rem solid var(--clr-paragraph);
}
#card_background_img {
    display: block;
    width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}


#card_profil{
    position: absolute;
    padding: 5.5rem 0 5.5rem 0;
}

.card_profil{
    border-radius: 100%;
    border: 0.3rem solid var(--clr-white);
}

#card_description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0 0;
    line-height: 2rem;
}

#card_description span {
    font-family: var(--ff-primary);
    color: var(--clr-paragraph);
    font-weight: var(--fw-400);
    font-size: inherit;
}

#card_footer
{
    width: 100%;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats p {
    font-size: 0.7rem;
}








